@font-face {
    font-family: roboto;
    src: url(assets/Roboto-Regular.ttf);
}

:root {
    --primary: #87cefa;
    --secondary: #d9f2fd;
    --white: #ffffff;
    --black: #000000;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    line-height: 1.6;
}

/* Container Grid */
.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar-left main sidebar-right"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Grid Areas */
header {
    grid-area: header;
    background: var(--primary);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 1.40rem;
}

.sidebar-left {
    grid-area: sidebar-left;
    background: var(--white);
    padding: 1rem;
}

.sidebar-right {
    grid-area: sidebar-right;
    background: var(--white);
    padding: 1rem;
}

main {
    grid-area: main;
    background: var(--white);
    padding: 1rem;
    text-align: center;
}

.main-logo {
    width: 12rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.button-container button {
    /* flex: 1; */
    background-color: var(--primary);
    border: none;
    border-radius: 15px;
    color: var(--black);
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.4s ease;
}

.button-container button:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.gallery-item {
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Footer section */

footer {
    grid-area: footer;
    background: #333;
    color: var(--white);
    text-align: center;
    padding: .50rem;
    margin-top: 4rem;
}

/* Order Page */
.google-form {
    border-radius: 1rem;
    background-color: var(--secondary);
}

/* About Page */
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
}

.about-item {
    width: 100%;
    height: 10rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
}

.about-item:hover {
    transform: scale(1.05);
    background-color: var(--secondary);
}

.about-item .front,
.about-item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    align-items: center;
    flex-direction: column;
}

.about-item .front {
    font-size: 1.25rem;
    text-decoration: underline;
    z-index: 2;
    font-weight: bolder;
}

.about-item .back {
    display: none;
    /* Hide back text by default */
}

.back b {
    text-decoration: underline;
    font-size: 1.125rem;
}

/* Add styles for the flipped state */
.about-item.flip .front {
    display: none;
}

.about-item.flip .back {
    display: flex;
}

.whale-background img {
    width: 200px;
    height: auto;
    border: 1px solid var(--white);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "main"
            "sidebar-left"
            "sidebar-right"
            "footer";
        grid-template-columns: 1fr;
    }

    .sidebar-left,
    .sidebar-right {
        display: none;
    }
}